<!-- A WEB APPLICATION FOR SCALE IDENTIFICATION TRAINING
COMBINING TEORIA.JS, VEXFLOW.JS, AND SPEECH RECOGNITION API-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ScaleMaster</title>
    <meta name="viewport" content="width=device-width">
    <link href="vextab.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="teoria.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.min.js"></script>
    <script src="vexflow-min.js"></script>
  </head>
  <body ng-app="musicWithUsApp">
    <div ng-controller="musicWithUsController">
      <div id="scaleDisplay">
        Mastering Scales
      </div>
      <div>
        <div class="scoreLabels button"><strong>Score: {{currentScore}} / {{total}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;High Score: {{highScore}}</strong></div>
      </div>
      <div class="card">
        <div class="canvasaCentering">
          <div class="canvasa">
            <canvas width=700 height=100></canvas>
          </div>
        </div>
      </div>
      <ul>
        <li ng-repeat="scaleButton in scaleButtons">
          <div class="scaleButtonsCentering0" ng-click="generateScale()">
            <div ng-click="checkAnswer(scaleButton.name)">
              <div class="scaleButtons button"><strong>{{scaleButton.name}}</strong></div>
            </div>
          </div>
        </li>
      </ul>    
    </div>
  </body>
  <footer>
    <script src="musicWithUs.js"></script>
  </footer>
</html>