/*amber darken-2: ff9100
  amber lighten-2: #ffd54f
  amber: #ffc107;
*/

body {
	text-align: center;
	font-size: 24px;
}

#scaleDisplay {
	font-size: 34px;
	margin-bottom: -2.5%;
	margin-top: 1%;
}

canvas {
	margin-top: 35px;
}

.button {
	color: white;
	background-color: #ff9100;
	border-radius: 5px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.16),0 1px 5px 0 rgba(0,0,0,0.12);
}

.scoreLabels {
	font-size: 20px;
	margin-top: 3%;
	margin-bottom: -1%;
	width: 25%;
	margin-left: 37.5%;
}

.canvasa {
	width: 62.5%;
	margin-top: 2.5%;	
	margin-left: 18.875%;
}

.scaleButtons {
	float: left;
	left: 2%;
	width: 100px;
	font-size: 18px;
	margin-right: 10px;
	margin-top: 2.5%;
}

.scaleButtonsCentering0 {
	width: 60.5%;
	margin-left: auto;
	margin-right: auto;
}

.card {
	width: 65%;
	left: 17.5%;
	height: 180px;
}