[submodule "projects/rhythmMaster"]
	path = projects/rhythmMaster
	url = https://github.com/15Dkatz/rhythmMaster.git
[submodule "projects/rhythmMasterPro"]
	path = projects/rhythmMasterPro
	url = https://github.com/15Dkatz/rhythmMasterPro.git
[submodule "projects/taskMaster"]
	path = projects/taskMaster
	url = https://github.com/15Dkatz/taskMasterPro.git
[submodule "projects/mailMeMyList"]
	path = projects/mailMeMyList
	url = https://github.com/15Dkatz/mailMeMyList.git
#[submodule "projects/pitchIntervalMaster”]
#	path = projects/pitchIntervalMaster
#	url = https://github.com/15Dkatz/pitchIntervalMaster.git


#[submodule "projects/giveFlexi”]
#	path = projects/giveFlexi
#	url = https://github.com/15Dkatz/giveFlexi.git
#[submodule "projects/Intervalmaster-angularJS”]
#	path = projects/Intervalmaster-angularJS
#	url = https://github.com/15Dkatz/IntervalMaster-angularJS.git




