[submodule "projects/pitchIntervalMaster"]
	path = projects/pitchIntervalMaster
	url = https://github.com/15Dkatz/pitchIntervalMaster.git
[submodule "projects/rhythmMaster"]
	path = projects/rhythmMaster
	url = https://github.com/15Dkatz/rhythmMaster
[submodule "projects/IntervalMaster-angularJS"]
	path = projects/IntervalMaster-angularJS
	url = https://github.com/15Dkatz/IntervalMaster-angularJS.git
[submodule "IntervalMaster-angularJS"]
	path = IntervalMaster-angularJS
	url = https://github.com/15Dkatz/IntervalMaster-angularJS.git
