<!DOCTYPE html>
<html>
	<head>
		<title>Practicing Intervals with Pitch Detection</title>
		<link rel="stylesheet" href="main.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css">
		<meta name="viewport" content="width=device-width">
	</head>
	<body ng-app="micApp">
		<div ng-controller="listenController">
			<div id="title">Ear train with your voice!</div>
			<!-- Add descending option... -->
			<div class="card cardInstructions">
				You will be given a bottom note, and an interval quality and length. Your objective is to sing (or play with an instrument) the top note! 
				<br>
				<br>
				<strong>Begin</strong> to bring up an interval. Play the
				<br>
				<strong>Bottom Note</strong> to get your bearings.<br>
				<strong>Record</strong> while you sing a note. Once your note is <strong class="blkStrong">Heard</strong> go ahead and <strong>Check</strong> your answer!
			</div>
			<!-- <div class="icon android-microphone-off"></div> -->	
			<!-- If microphone listening, then switch icon to android-microphone -->
			<div class="card cardHeard">
				<span class="quizLine">Sing the <strong>{{intervalLength}}</strong> up from <strong>{{bottomNote}}</strong></span>
				<br>
				Heard:
				<br>
				<span id="userNoteDisplay"><strong>{{userNote}}</strong></span>
				<br>
				<span class="scoreLine">Score: {{scoreCount}} / {{total}}</span>
				<br>
			</div>


			<div class="button buttonRecord" ng-mousedown="listen()" ng-mouseup="stopListen()">Record</div>
			<ul class="buttonRow3">
				<li class="button buttonItem3" ng-click="generateInterval()">{{giButtonDisplay}}</li>
				<li class="button buttonItem3" ng-mousedown="playBottomNote()" ng-mouseup="stopBottomNote()">Play Bottom Note</li>
				<li class="button buttonItem3" ng-click="checkAnswer()">Check</li>
			</ul>
			<!-- <div>
			<div class="buttonSection">
				<div class="button"> Score: {{scoreCount}}</div>
				
			</div> -->
	</body>
	<footer>
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.6/jquery.fullPage.min.js"></script>
		<script src="wad.js"></script>
		<script src="teoria.js"></script>
		<script src="index.js"></script>
	</footer>
</html>
