body {
	text-align: center;
}

strong {
	color: #1e88e5;
}


.quizLine {
	/*margin-top: 1	5%;*/
	font-size: 26px;
}

.card {
	font-size: 16px;
	padding: 2%;
	/*margin-top: 2%;*/
	float: left;
	width: 50%;
	left: 25%;
	right: 10%;
}

.cardHeard {
	padding: 1%;
	width: 50%;
	left: 25%;
	height: 150px;
	font-size: 24px;
}

#userNoteDisplay {
	/*padding-top: 10px;*/
	font-size: 34px;
}



.scoreLine {
	font-size: 18px;
	/*margin-bottom: -1%;*/
}

.button {
	/*margin-top: 2.5%;*/
	float: left;
	/*margin-left: 12.5%;*/
	height: 50px;
	padding: 2%;
	width: 30%;
	/*height: 30px;*/
	/*padding-top: 5px;*/
	border-radius: 5px;
	background: #1e88e5;
	color: #fff;	
	font-weight: bold;
	font-size: 16px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.buttonRecord {
	/*height: 50px;*/
	padding-top: 1%;
	font-size: 18px;
	/*padding-bottom: -2px;*/
	width: 50%;
	margin-left: 25%;
	margin-top: 1%;
	/*left: 25%;*/
}

.buttonRow3 {
	margin-left: 23.25%;
	width: 52.25%;
	float: inline;
	margin-top: 6%;
	/*left: 25%;*/
}


.buttonItem3 {
	margin-top: 2%;
	margin-left: 3%;
}

/*.buttonSection {
	width: 100%;
}*/