body {
	text-align: center;
}

.quizLine {
	margin-top: 15%;
	font-size: 26px;
}

.card {
	margin-top: 2%;
	float: left;
	width: 80%;
	left: 10%;
}

.cardHeard {
	width: 50%;
	left: 25%;
	height: 150px;
	font-size: 24px;
}

#userNoteDisplay {
	padding-top: 10px;
	font-size: 46px;
}



.scoreLine {
	font-size: 18px;
	/*margin-bottom: -1%;*/
}

.button {
	/*margin-top: 2.5%;*/
	float: left;
	/*margin-left: 12.5%;*/
	width: 30%;
	height: 30px;
	padding-top: 5px;
	border-radius: 5px;
	background: #1e88e5;
	color: #fff;	
	font-weight: bold;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.buttonRecord {
	height: 50px;
	padding-top: 10px;
	font-size: 16px;
	width: 50%;
	margin-left: 25%;
	margin-top: 1%;
	left: 25%;
}

/*.buttonRow3 {
	float: left;
	margin-top: 5%;
}*/


.buttonItem3 {
	margin-top: 2%;
	margin-left: 2.75%;
}

.buttonSection {
	width: 100%;
}