/*------------Tic-Tac-Toe------------*/
@font-face {
  font-family: GameFont;
  src: url(game-font.ttf);
  font-weight: 800;
}


.TicTacToe {
  background-color: #222326;
  color: #F8F8F8;
  width: 100%;
  height: 100vh;
  font-family: 'Economica', Serif;
  font-size: 1.8rem;
}

.title {
  margin: 20px;
  font-size: 2rem;
}

.message {
  font-style: italic;
}

.settings, .totals {
  background-color: #222326;
}

.line {
  width: 40vw;
  height: 1px;
  margin: 20px;
  background-color: #F8F8F8;
}

.item {
  float: left;
  cursor: default;
}

.game-item {
  width: 3.5rem;
  font-size: 3.5rem;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-family: "GameFont";
}

.item-o {
  color: #ef9a9a;
}

.item-x {
  color: #90caf9;
}

.item-clickable {
  float: left;
  cursor: pointer;
}

.highlighted {
  color: #9fc7aa;
}

.main-button {
  margin: 10px;
  font-size: 1.5rem
}

.button-pair {
  margin: 10px;
  font-size: 1.25rem;
}

.button {
  cursor: pointer;
}

.green {
  color: #9fc7aa;
  text-decoration: underline;
}

.side {
  display: inline;
  margin: 10px;
}

.totals {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 15px;
}

.blue-green {
  animation-name: blue-green;
  animation-duration: 3s;
}

.red-green {
  animation-name: red-green;
  animation-duration: 3s;
}

@keyframes blue-green {
  from {color: #90caf9}
  to {color: #9fc7aa}
}

@keyframes red-green {
  from {color: #ef9a9a}
  to {color: #9fc7aa}
}
