<ion-view view-title="Workout">
  <ion-content class="">
    <div class="">
      <!-- titleDiv -->
      <div class="bar bar-dark">
        <h1 class="title">{{currentExercise.exercise}}</h1>
      </div> 
      {{currentExercise.time}}
      <br>
      <br>
      <br> 
      <div class="row">
        <div id="progressBarCircle" class="col col-33 col-offset-33"></div>
        <!-- fill background with grey or a picture -->
      </div>
    </div>

    <div class="row topButtons">
      <div class="col col-50">
        <button class="button button-block icon-right ion-play topButtons" ng-click="startExercise()" ng-if="showStartButton">Start</button>
        <button class="button button-block icon-right topButtons {{pauseBtn.ionname}}" ng-click="pauseExercise()" ng-if="!showStartButton">{{pauseBtn.name}}</button>
      </div>
      <div class="col col-50">
        <button class="button button-block icon-right ion-ios-skipforward topButtons" ng-click="skipExercise()">Skip</button>
      </div>
    </div>
    
    <div class="bar bar-dark subheader">
      <button class="button button-clear icon-left ion-minus-circled" ng-click="data.shouldShowDelete = !data.shouldShowDelete"></button>
      <button class="button button-clear icon-left ion-plus-circled" ng-click="addExercise()"></button>
      <!-- + button to addTask oneAtATime -->
        <h1 class="title">Exercises</h1>
        <button class="button button-clear icon-right" ng-click="data.showReordering = !data.showReordering">Reorder</button>
    </div>
    <ion-list class="list" show-reorder="data.showReordering" show-delete="data.shouldShowDelete" can-swipe="data.canSwipe">
      <br>
      <br>
      <!-- <br> -->
      <!-- <span ng-init="initExList()">{{initExList()}}</span> -->
      <ion-item ng-repeat="exercise in updateExerciseList() track by $index" class="item icon-left">
       {{exercise.exercise}}
       
        <span class="item-note">{{exercise.time}} seconds</span>
        <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(exercise, $fromIndex, $toIndex)"></ion-reorder-button>
        <ion-delete-button class="ion-minus-circled" ng-click="removeExercise($index)"></ion-delete-button>
        <ion-option-button class="button-assertive" ng-click="editExercise($index)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!-- store in firebase -->

<!-- add list-avatar pictures for each exercise later -->

<!-- fix input number in build.html and fix the color of nav-bar in tab-account.html -->